@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Poppins";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}



/* Comments  */
.Grass {
  background: green;
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Poison {
  background: rgb(83, 0, 128);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Fire {
  background: rgb(128, 19, 0);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Flying,
.Normal  {
  background: rgb(59, 59, 59);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}


.Fighting  {
  background: rgb(39, 38, 38);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}


.Water {
  background: rgb(73, 142, 176);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Bug {
  background: rgb(150, 176, 73);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Electric {
  background: rgb(129, 154, 158);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Ground {
  background: rgb(125, 62, 7);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Fairy {
  background: rgb(244, 112, 191);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Psychic {
  background: rgb(221, 180, 249);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Rock {
  background: rgb(21, 21, 21);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Steel {
  background: rgb(73, 80, 89);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Ice {
  background: rgb(176, 210, 255);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Ghost {
  background: rgb(155, 148, 255);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Dark {
  background: rgb(14, 11, 53);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

.Dragon {
  background: rgb(255, 79, 79);
  padding: 0.25rem .5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 0.5rem;
}

/* --------------------------------------------------------------------------------------------- */

.blog-preview {
  padding: 1rem;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
  .blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 425px) {
  .blog-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.blog-preview {
  background: #fafafa;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.pokemonStats{background:#eeeeee;padding:1rem; border-radius: 0 0 .5rem .5rem;}

h4.type {
  padding: 1rem;
}

/* Create Pokemon styling */

.createPokemon form {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

input{margin-bottom: 1rem;}